@import "tailwindcss";

@theme {
	--color-strong-cyan: hsl(171, 66%, 44%);
	--color-light-blue: hsl(233, 100%, 69%);
	--color-dark-grayish-blue: hsl(210, 10%, 33%);
	--color-grayish-blue: hsl(201, 11%, 66%);
	
	--font-family-sans: 'Bai Jamjuree', sans-serif;
	
	--breakpoint-sm: 480px;
	--breakpoint-md: 768px;
	--breakpoint-lg: 976px;
	--breakpoint-xl: 1440px;
}

@layer base {
	body {
		background-image: url("../images/bg-header-desktop.png");
		background-repeat: no-repeat;
		background-size: contain;

		@apply font-family-sans;
	}

	@media (max-width: 576px) {
		body {
			background-image: url("../images/bg-header-mobile.png");
		}
	}

	h3 {
		@apply mb-8 text-4xl font-bold text-dark-grayish-blue md:text-5xl;
	}

	h5 {
		@apply mb-2 text-2xl font-bold text-dark-grayish-blue;
	}
}

@layer components {
	.section-container {
		@apply max-w-6xl mx-auto text-center px-10;
	}

	.button-container {
		@apply flex flex-col justify-center w-full space-y-6 text-xl text-white md:flex-row md:space-y-0 md:space-x-4;
	}

	.section-content {
		@apply max-w-3xl mx-auto text-2xl text-grayish-blue;
	}
}

.ficon:hover {
	filter: invert(53%) sepia(68%) saturate(434%) hue-rotate(121deg)
	  brightness(101%) contrast(94%);
  }